.Slide{
    height: 500px;

    &1 {
        background-color: gold;
    }

    &2 {
        background-color: teal;
    }

    &3 {
        background-color: mediumslateblue;
    }
    
    &4 {
        background-color: pink;
    }

    &5 {
        background-color: green;
    }

    &6 {
        background-color: orange;
    }
}