.SliderWrapper {
    &-DotContainer {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        top: 90%;
        z-index: 200;
    }

    &-Dots, &-Dots-isActive {
        width: 10px;
        height: 10px;
        background-color: white;
        margin-right: 7px;
        margin-left: 7px;
        border-radius: 10px;
        border: 1px solid black;
    }

    &-Dots:hover {
        background-color: gainsboro;
    }

    &-Dots-isActive {
        background-color: black;
    }


    

}