.SliderWrapper {
    position: relative;
    height: 800px;
    overflow: hidden;

    &-Slider {
        display: flex;
        position: relative;
    }

    &-BtnBack, &-BtnNext {
        position: absolute;
        background-color: black;
        color: white;
        z-index: 200;
        font-family: 'calibri';
        top: 50%;
        height: 50px;
        width: 50px;
    }

    &-BtnBack {
        left: 5%;
    }

    &-BtnNext {
        left: 95%;
        transform: translateX(-100%);
    }
}
